//源の角ゴシック
.minamoto_light{
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.minamoto_normal{
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 300;
  font-style: normal;
}

//Mr Eaves Sans
.eaves_light{
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.eaves_book{
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.eaves_regular{
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}
