@import "./font";
$defaultcolor: #606060;

.main{
  @extend .minamoto_light;
  color: $defaultcolor;
  text-align: center;
  .pageName{
    @extend .eaves_book;
    font-size: 5.625em;
    margin: 140px 0;
    @media screen and(max-width: 480px) {
      font-size: 3.75em;
      margin: 70px 0;
    }
    p{
      text-decoration: underline;
      text-decoration-thickness: 5px;
    }
  }
  .top{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    margin-bottom: 120px;
    .aboutMe{
      width: 36%;
      margin-left: 10%;
      margin-right: 4%;
      display: flex;
      justify-content: flex-end;
      .Image{
        max-width: 114px;
        height: auto;
        margin-right: 35px;
        img{
          width: 100%;
          height: auto;
          border-radius: 50%;
          @media screen and(max-width: 1676px) {
            margin-top: 6px;
          }
        }
        @media screen and(max-width: 780px) {
          display: none;
        }
      }
      .profile{
        .Name{
          display: flex;
          align-items: flex-end;
          padding: 12px 0;
          @media screen and(max-width: 1676px) {
            flex-direction: column;
            align-items: flex-start;
            padding-top: 0;
          }
        }
        .JPname{
          @extend .minamoto_normal;
          font-size: 3.375em;
          margin-right: 35px;
          @media screen and (max-width: 1676px) {
            margin: 0;
          }
          @media screen and(max-width: 1048px) {
            font-size: 3em;
          }
          @media screen and(max-width: 480px) {
            font-size: 2em;
          }
        }
        .ENname{
          @extend .eaves_regular;
          font-size: 2.625em;
          @media screen and(max-width: 480px) {
            font-size: 1.7em;
          }
        }
        .text{
          font-size: 1.65em;
          @media screen and(max-width: 480px) {
            font-size: 1.05em;
          }
        }
      }
    }
    .myEventTable{
      padding-top: 50px;
      font-size: 1.65em;
      @media screen and(max-width: 480px) {
        font-size: 1.05em;
      }
      display: flex;
      flex-direction: column;
      width: 36%;
      margin-right: 10%;
      margin-left: 4%;
      .event{
        display: flex;
        .eventYear{
          margin-right: 20px;
          min-width: 4em;
        }
      }
    }
    @media screen and(max-width: 1320px) {
      flex-direction: column;
      .aboutMe{
        width: 80%;
        margin-right: 10%;
        justify-content: center;
        padding-bottom: 0;
      }
      .myEventTable{
        width: 700px;
        max-width: 80%;
        margin: auto;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 58px;
      }
      margin-bottom: 0;
    }
  }
  .detail{
    font-size: 1.8em;
    text-align: left;
    width: 75%;
    max-width: 1920px;
    margin: auto;
    margin-bottom: 140px;
    @media screen and(max-width: 480px) {
      font-size: 0.9em;
      margin-bottom: 70px;
    }
  }
}